.mb8 {
  margin-bottom: 8px;
}

.top-right-btn {
  position: relative;
  float: right;
}

.pagination-container .el-pagination {
  right: 0;
  position: absolute;
}

/** 表格更多操作下拉样式 */
.el-table .el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
  margin-left: 5px;
}
